$primary: #0a3853;
$secondary: #04857f;

$purple: purple !default;
$blue: blue !default;
$green: green !default;
$yellow: yellow !default;
$orange: orange !default;
$red: red !default;
// Did not click
$grey: grey !default;
// Not able to click
$white: white !default;
